
body {
    background-color: rgb(14, 14, 14);
}



.game-wrapper {
    /* display: grid;
    grid-template-columns: 70% 30%; */
}

.matrix-wrapper {
    /* margin-left: 25%; */
    /* margin-right: 50%; */
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
}

.info-wrapper {
    background-color: black;
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
    width: 250px;
    /* overflow: hidden; */
}

.info-row {
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
}

.info-label {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.turn::after {
    content: " turn ";
}

.hp::after {
    content: " hp ";
}

.movements::after {
    content: " movements ";
}

.power::after {
    content: " power ";
}


.matrix {
    border: 1px solid black;
    background-color: black;
    width: fit-content;
}

.row {
    /* border: 1px solid green; */
    width: fit-content;
    height: 32px;
    padding: 0px;
    margin: 0px;
}

.cell {
    border-right: 1px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.plains {
    background-image: url("./assets/plains.gif");
}

.frozen {
    background-image: url("./assets/frozen.gif");
    /* background-color: white; */
}




.player {
    border: 1px solid #33FF33;
    animation: pulse1 0.5s infinite;
    background-image: none;
    background-color: #33ff3388;
    z-index: 101;
}

.enemy {
    border: 1px solid #FF3355;
    animation: pulse2 0.5s infinite;
    background-image: none;
    background-color: #FF335588;
    z-index: 101;
}

.barrier {
    border-color: rgb(255, 117, 31);
    border-style: dashed;
    background-color: rgba(255, 144, 74, 0.75);
}

.projectile {
    border: 1px solid red;
}







.slice {
    border-color: red;
    background-image: none;
    background-color: rgb(255, 26, 26);
    box-shadow: 15px 0px 10px 5px red;
    z-index: 102;
    animation: 0.1s slice linear infinite;

}

@keyframes slice {
    from {
        transform: translateX(-10px);
      }
    
      to {
        transform: translateX(10px);
      }
}


.shell {
    border-color: rgb(255, 35, 35);
}

.terraform-alpha {
    border: 1px solid rgb(255, 226, 111);
}
.terraform-beta {
    border: 1px solid rgb(206, 165, 0);
}
.terraform-gamma {
    border: 1px solid rgb(255, 204, 0);
}

.terraformation-alpha {
    border: 1px solid rgb(255, 226, 111);
    background-image: none;
    background-color: rgba(255, 226, 112, 0.5);

}

.terraformation-beta {
    border: 1px solid rgb(206, 165, 0);
    background-image: none;
    background-color: rgba(255, 215, 53, 0.5);
}

.terraformation-gamma {
    border: 1px solid rgb(255, 204, 0);
    background-image: none;
    background-color: rgba(255, 204, 0, 0.5);
}

.wall {
    border-color: rgb(82, 174, 255);
    background-image: none;
    background-color: rgba(82, 174, 255, 0.5) ;

}


.cell-tooltip {
    position: absolute;
    z-index: 110;
    /* left: 400px; */
    width: 250px;
    height: 100px;
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid;
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), rgb(253, 114, 255),rgb(114, 196, 255)) 1;
    animation: 3s rotate linear infinite;
}
  
@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.scroller * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

.info-log {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 4px;
    overflow-y: scroll;
    height: 170px;
    max-height: 170px;
    /* display: flex;
    flex-direction: column-reverse; */
}

.log-filler {
    height: 18px;
}

.log-row {
    border-bottom: 1px solid rgba(85, 85, 85, 0.5);
    height: 18px;
    width: 250px;
}

.log-even {
    /* border-left: 1px solid #33FF33; */
}

.log-odd {
    /* border-left: 1px solid #3333FF; */
}

.info-log::-webkit-scrollbar {
    display: none;
  }

.log-id {
    /* color: #33FF33; */
    padding-left: 4px;
}

.log-id::after {
    content: ">";
    color: #33FF33;
    font-size: 12px;
    margin-right: 5px;
}

.log-content {
    font-size: 14px;
}

.log-player {
    font-size: 14px;
    font-style: italic;
}

.cordinates {
    font-family: 'Courier New', Courier, monospace;
    
}

.construct-tt {
    color: rgb(255, 110, 57);
}

.projectile-tt {
    color: rgb(255, 82, 128);
}

.player-tt {
    color: rgb(0, 149, 255);
}

.x-cord {
    text-shadow: 1px 1px red;
}

.y-cord {
    text-shadow: 1px 1px blue;
}

.children-break-tt {
    
}

.cell-children-tt {
    
}



.child-hp-tt {
    color: #33FF33;
}

.child-line-tt {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    background-color: rgb(48, 48, 48);
    padding-left: 3px;
}

.child-type-tt {
    
}

.child-name-tt {
    color: white;
}



@-webkit-keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 #33FF33;
  }
  70% {
      -webkit-box-shadow: 0 0 0 15px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

@-webkit-keyframes pulse2 {
    0% {
      -webkit-box-shadow: 0 0 0 0 #FF3355;
    }
    70% {
        -webkit-box-shadow: 0 0 0 15px rgba(255,0,0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
    }
  }




.tile-label-tt {
    float: right;
    margin-right: 5px;
}

.mc-tt {
    color: white;
    text-shadow: none;
    margin-right: 4px;
}

.mc-tt::before {
    content: "[";
    color: #33FF33;
}

.mc-tt::after {
    content: "]";
    color: #33FF33;
}

.plains-tt {
    text-shadow: 2px 2px rgba(68, 145, 68, 1);
}

.frozen-tt {
    text-shadow: 2px 2px rgb(47, 234, 255);
}





























.acc::before {
    content: "[";
    color: #33FF33;
    animation: blink 2s linear infinite;
}

.acc::after {
    content: "]";
    color: #33FF33;
    animation: blink 2s linear infinite;

}

@keyframes blink {

    50% {
        opacity: 0%;
    }

}

.adc-1 {
    color: green;
    text-shadow: 1px 1px rgb(125, 125, 125);
}

.adc-2 {
    color: yellow;
    text-shadow: 1px 1px rgb(125, 125, 125);
}

.adc-3 {
    color: orange;
    text-shadow: 1px 1px rgb(125, 125, 125);
}

.adc-4 {
    color: orangered;
    text-shadow: 1px 1px rgb(125, 125, 125);
}

.adc-5 {
    color: red;
    text-shadow: 1px 1px rgb(125, 125, 125);
}

.adc-6 {
    color: red;
    text-shadow: 1px 1px orangered;
}



.abilities-wrapper {
    /* border: 1px solid blue; */
    /* margin-left: 25%; */
    width: 100%;
   margin-top: 30px;
}

.available {
    opacity: 100% !important;
}

.ability-box {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 140px;
    height: 180px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top;
    border: 1px solid white;
    opacity: 50%;
}

.ability-label {
    padding: 3px;
    height: 20px;
    border-bottom: 1px solid #33FF33;
}

.ability-label:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    
}

.ability-label-name {
    font-size: 14px;
    font-style: italic;
}

.ability-label-class {
    float: right;
}

.ability-data {
    padding: 5px;
    height: 62px;
    border-bottom: 1px solid grey;
    padding-bottom: 18px;
}

.ability-data-label {
    font-size: 12px;
}

.infinity {
    font-size: 22px;
}

.max-distance-data {
    /* font-size: 20px; */

}

.ability-data-value {
    font-size: 16px;
    float: right;
}

.adv-text {
    font-size: 12px !important;
}

.ability-data-cost {

}

.ability-data-type {

}

.ability-data-damage {

}

.ability-data-distance {

}

.ability-info {
    font-size: 12px;
    /* border: 1px solid orchid; */
    padding: 5px;

}




