
html {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.home-link-wrapper {
    margin: 20px 0px 0px 20px;
}

.home-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.home-link:hover {
    text-decoration: underline;
}

.relics-wrapper {

    margin-top: 30px;
    margin-left: 20px;
    max-width: 650px;
    /* width: 90%; */
    display: grid;
    grid-template-columns: 50% 50%;
}

.relic-wrapper {
    border: 1px solid white;
    width: 200px;
    height: 300px;
    padding: 10px;
    margin: 20px;
}

.relic-img-wrapper {
    text-align: center;
}

.relic-img {
    
}

.relic-name {
    font-size: 24px;
    text-align: center;
}

.relic-found {
    text-align: center;
}

.relic-effect {
    border-top: 1px solid grey;
    margin: 20px 0px;
    padding: 10px 0px;
    font-size: 12px;
}

.relic-description {
    border-top: 1px solid grey;
    margin: 20px 0px;
    padding: 10px 0px;
    font-size: 12px;
}


.canexamine:hover {
    cursor: pointer;
}


.canclick {

}

.canclick:hover {
    cursor: pointer;
    text-decoration: underline;
}



.examine {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 500px;
    height: 700px;
    z-index: 200;
    border: 1px solid #33FF33;
    color: white;
    background-color: black;

}

.navigationbar {
    width: 100%;
    text-align: center;
    height: 25px;
}

.examine-nav {
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.document-wrapper {
    width: 100%;
    height: 90%;
    border: 1px dashed red;
}


.examineimg {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#prev {

}

#prev:hover {
    cursor: pointer;
}

#next {
    
}

#next:hover {
    cursor: pointer;
}